<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
</head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Fields of Fuel Help</title>
<body bgcolor="#0E031C" text="#304C6C" link="#304C6C" vlink="#304C6C" alink="#304C6C">
<a name="top"></a>
<img src="/Users/jrunde/Fields-of-Fuel-Server/app/assets/images/FoF_logo.png" width="1072" height="168">
<p>
	<font face="Lucida Sans Unicode, Lucida Grande, sans-serif">

<h1 id="toc0">Help Documentation</h1>
        <hr style="color:#304C6C;border-color:#304C6C;"/>
<ul class="menu clearfix">
    <li class="first last leaf menu-depth-1 menu-item-733"><a href="#summary" title="">Summary</a></li>
    <li class="first last leaf menu-depth-1 menu-item-733"><a href="#introduction" title="">Introduction</a></li>
    <li class="first last leaf menu-depth-1 menu-item-733"><a href="#objectives" title="">Objectives</a></li>
    <li class="first last leaf menu-depth-1 menu-item-733"><a href="#use" title="">Classroom Use</a></li>
    <li class="first last leaf menu-depth-1 menu-item-733"><a href="#setup" title="">Set-Up</a></li>
    <li class="first last leaf menu-depth-1 menu-item-733"><a href="#gameplay" title="">Gameplay</a></li>
    <li class="first last leaf menu-depth-1 menu-item-733"><a href="#scoring" title="">Scoring</a></li>
    <li class="first last leaf menu-depth-1 menu-item-733"><a href="#tradeoffs" title="">Trade-Offs</a></li>
    <li class="first last leaf menu-depth-1 menu-item-733"><a href="#models" title="">Underlying Models</a></li>
  </ul>
</div>
</nav>
<br />
    <h1 id="toc0"><a name="summary">Summary</a></h1>
        <hr style="color:#304C6C;border-color:#304C6C;"/>
        The Fields of Fuel game is the result of a multidisciplinary collaboration that integrates researchers from the UW Department of Curriculum and Instruction, Department of Computer Sciences, Great Lakes Bioenergy Research Center (GLBRC), and Wisconsin Institute for Discovery (WID). This collaboration is producing a multiplayer, web-based simulation game designed to educate players about the economic and environmental tradeoffs associated with the development of sustainable bioenergy cropping systems. This game combines expertise from computer scientists, biofuel researchers and education scholars to create a tool that is both educational and scientifically accurate.<br />
        <br />
        In this game, players - both students and the public - take on the role of farmers working to sustainably grow crops to produce energy resources, earn income and improve ecosystem services. In doing so, players engage in sophisticated systems-level thinking and learn about:<br />
<ul>
          <li>Ecological and economic aspects of sustainability</li>
          <li>Short and long term dynamics of the sustainable systems</li>
          <li>Local and global impacts of individual farmer management decisions</li>
    </ul>
        <br />
        Interacting with and making sense of game dynamics demonstrates the complexity involved with the sustainable production of bioenergy crops and helps to communicate current research more authentically than the traditional expository approaches used in schools. This collaboration also ties into a number of other projects, including the development of a decision support tool to evaluate policy decisions around biofuels production, as well as an online role playing game designed to crowdsource ecological and economic interactions in northern Wisconsin.<br />
        <br />
        <a href="#top" title=""><p align="right">Back to Top</p></a>
        <h1 id="toc1"><a name="introduction">Introduction</a></h1>
        <hr style="color:#304C6C;border-color:#304C6C;"/>
        In this game, players take on the role of an individual farmer that must make yearly decisions about how to best manage his or her fields to reach a predefined long-term objective. These decisions reflect individual player decisions about crop choices and (optionally) management options on individual fields. Players are presented with a range of information on which to base their choices; this information reflects the three components which have been identified as critical to the sustainability of this system and reflect the environmental impact, economics, and energy production that result from player decisions.<br />
        <br />
        <a href="#top" title=""><p align="right">Back to Top</p></a>
        <h1 id="toc2"><a name="objectives">Objectives</a></h1>
    <hr style="color:#304C6C;border-color:#304C6C;"/>
        The ongoing development of the Fields of Fuel game is directed primarily by a set of goals that relate to how the game is intended to be used in a classroom setting and what we envision players taking away from the game. The objectives we would like people to take away from playing the game are as follows:<br />
        <br />
        <ol>
          <li>Understand the basic dimensions of sustainable biofuel production.</li>
          <li>Understand the general ecological and economic mechanisms of agricultural systems.</li>
          <li>Identify and recognize the differences between long and short term trends and related management decisions.</li>
          <li>Understand how individual farmer management decisions affect local economic and ecological outcomes.</li>
          <li>Understand how global environmental and economic effects emerge from individual decisions.</li>
        </ol>
        <br />
        While the game mechanics themselves help to facilitate the reasoning process necessary to reach these goals, the game is most effective when used to engender discussion between players around these goals.<br />
        <br />
        <strong>Game goals:</strong> The game can be played to maximize 1.) overall sustainability 2.) income 3.) energy production 4.) environmental score. Pursuing each score requires different strategies and reveals unexpected consequences. The game moderator or group vote can determine the game goal.<br />
        <br />
        <strong>Discussion Points:</strong><br />
        <ol>
          <li>After first planting – Ask people what they planted and why.</li>
          <li>Discussion of management strategies – Touch on the idea that different people could be doing different things and could have different reasons for doing those things.</li>
          <li>After first round wrap up – Is there anything that the group finds surprising?</li>
          <li>Let them play for a few rounds.</li>
          <li>After maybe 3rd/4th round wrap up – What are people noticing? Bring up the underlying components that play into overall score and discuss the components of the sustainability score. Are people noticing trends? Who is winning and why? – economic vs ecological sustainability.</li>
          <li>Conversation about evidence – What evidence are people using to make claims about changes in sustainability? This would get folded into the other conversations and pushes on what sources of info will help us unpack the ecological mechanism piece in a nice way.</li>
          <li>Who is changing their crops and/or management decisions and who is keeping things the same? Have people talked about which one they are doing and why? What information are they using to make those decisions?</li>
          <li>Unpacking ecological mechanisms – Look at people who are doing really well and ask them what they are doing.</li>
          <li>Farm vs. world view trends – After some round when round wrap up screen is up, point to a particular global trend and ask where that trend is coming from. Have each group report their farm level trend. Put this information up on the board and talk about how it contributes to the overall trend.</li>
          <li>Pose/Consider the following questions: Can you have short vs. long term trends conversation before the end of the game? How would you change your strategy to make it more sustainable? Is this enough information to help you decide? How do you evaluate if this is a long term sustainable management decision?</li>
        </ol>
        <br />
        A different way to play the game and talk about it: how can we as a group collectively achieve the goal.<br />
        <br />
        <a href="#top" title=""><p align="right">Back to Top</p></a>
        <h1 id="toc3"><a name="use">Classroom Use</a></h1>
    <hr style="color:#304C6C;border-color:#304C6C;"/>
        The primary pedagogical function of the game is to provide conversational space for students to explore issues of sustainability. On its own, the game does not &quot;teach&quot; any concepts. It is through discussion about the features and feedback of the game that learning can and should happen. As such, the game has been designed to promote both large and small group discussion. Teachers using the game in their classrooms may choose to have pre-game discussions to tune student attention to important aspects of the ecological and economic system they will encounter in the game, mid-game discussions about various strategies and evidence for the effectiveness of those strategies, and post-game discussions either to summarize what students experienced or to launch further study. <br />
        <br />
        Because the game is designed to be a platform for discussion rather than a stand-alone instructional tool, it has great flexibility in how and in what classrooms it can be used. The various options in the game allow it to be used in a range of classrooms: from environmental science to economics to business to agriculture. Depending on the options that are enabled, the game addresses a host of National and State Standards. Specifically the game is consistent with the Next Generation Science Standards. It addresses the following Cross Cutting Concepts and Scientific Practices:<br />
        <br />
        <u><strong>C</strong></u><strong><u>ross-cutting concepts:</u></strong><br />
        1) Patterns<br />
        2) Cause and effect: Mechanism and explanation<br />
        3) Systems and system models<br />
        <br />
        <u><strong>Scientific Practices:</strong></u><br />
        1) Asking questions<br />
        2) Developing and using models<br />
        3) Analyzing and interpreting data<br />
        4) Constructing explanations<br />
        5) Engaging in argument from evidence<br />
        <br />
        <a href="#top" title=""><p align="right">Back to Top</p></a>
        <h1 id="toc4"><a name="setup">Set-Up</a></h1>
    <hr style="color:#304C6C;border-color:#304C6C;"/>
        <br />
        <u><strong>System Requirements</strong></u><br />
        To run the game requires access to the internet and a modern up-to-date browser that permits communication via websockets. Typically we have had the most luck with updated versions of Chrome and Firefox, but the game does not currently work with Internet Explorer.<br />
        <br />
        <br />
        <u><strong>Moderator Instructions</strong></u><br />
        The game is currently accessed through a landing page located at <a href="http://fieldsoffuel.discovery.wisc.edu/" rel="nofollow">http://fieldsoffuel.discovery.wisc.edu/</a>. The first step in setting up the game is that a moderator (typically the teacher) creates a game room for the students or other players to join. To do this, the moderator will click on the 'Moderate' link on the landing page, and a message box will pop up asking for a room name, password, and maximum number of players. Each new game requires a unique room name, which can be anything. The password is optional, but the maximum number of players must be set (note: you do not have to fill each player slot, but you cannot have more than the maximum specified). It is often best to write down the room name at this point. Once the room is created, a setup dialogue will appear, where the number of fields for each player and the level of complexity (contracts and management options) will be set. Once these decisions are made, you can click the button marked 'Apply Settings!' and the room will be created and ready for players to enter. It is often advantageous to leave this window open in order to access control during gameplay; this allows you to change the complexity level and pause the game during play. Currently, if the moderator page is closed it is not re-accessible. Gameplay can continue, but settings can no longer be changed, nor can the game be paused.<br />
        <br />
        <br />
        <u><strong>Global View</strong></u><br />
        Once the game is set up, the moderator can return to the landing page (most easily accessed by opening an additional browser tab) to access the 'global' screen, which is typically projected in front of the group. To access this page, simply return to the landing page, click on 'watch', enter the room name, and click 'join game.' This will bring up a list of players and scores. Each player will have an indication as to their current status within the round (ready or not - often useful for identifying players that might accidentally be holding up the game), and their scoring in four different categories. The order of players can be adjusted based on their rank in any scoring category by clicking on the score name in the header. In addition, the prototype version currently allows you to double click on any player name to bring up their associated graph windows, allowing everyone to see their history and discuss their play choices. Multiple histories can be opened at the same time to compare strategies, but note that they will not update as gameplay continues. To update the windows simply close them and reopen by double-clicking on the player name again.<br />
        <br />
        The global view also displays the current prices for corn and perennial grass after each round. In the default version of the game, the fixed price for corn is $250/ton and the price for switchgrass is $150/ton.<br />
        <br />
        <u><strong>Player View</strong></u><br />
        For players to join the game, they simply visit the landing page url, and click on 'Play'. They will then be prompted to enter a room name (as determined by the moderator previously) and a unique name. Once they enter their room, they will have immediate access to their fields, and their name will appear in the player list on the global page.<br />
        <br />
        NOTE: Players can begin playing as soon as they enter the world. Once all players currently in the world complete the first stage, the world will automatically advance. This creates a situation where the world may advance before all players have joined the world, and may miss out on the first turn. Currently, to remedy this, the moderator must instruct players not to end their first planting phase until instructed to do so (once all players have successfully joined the game).<br />
        <br />
        <a href="#top" title=""><p align="right">Back to Top</p></a>
        <h1 id="toc5"><a name="gameplay">Gameplay</a></h1>
    <hr style="color:#304C6C;border-color:#304C6C;"/>
        <h3 id="toc6"><u>Basics:</u></h3>
        <ul>
          <li><strong>Play in pairs:</strong> We recommend playing in pairs to generate better discussion about strategy and game dynamics.</li>
          <li><strong>Set Goal:</strong> Play to maximize either overall sustainability, income, energy production or environmental score. We find that playing initially to maximize income helps to engage players and reveal some fundamental tradeoffs between the economic and environmental objectives.</li>
          <li><strong>Duration:</strong> You can play for as long as you like, but we find at least 10 years is required to reveal some interesting long-term trends. Pick a game endpoint before starting to help players hone their initial strategy. Playing for 10 years with a group of 15 players typically takes 20-30 minutes.</li>
        </ul>
        <br />
        <h3 id="toc7"><u>Player Screen Elements</u></h3>
        The player screen can be broken into two sections: the left side represents the player's fields and is where the players implement all of their actions, while the right side is a series of accordion style windows which players use to get feedback on their performance.<br />
        <br />
        Left side:<br />
        <ol>
          <li>Round indicator / ready bar: this tells you where in the planting/harvesting cycle the game is and what you need to do next. Click the check box when ready to move to next stage.</li>
          <li>Fields: graphics on fields indicate crop selection and growth/harvest state.</li>
          <li>Field-level info &quot;+&quot;: click this &quot;+&quot; button to display soil fertility and yield history on your fields. Soil fertility is color coded from bright green (high fertility) to dark red (low fertility). The crop yield history is represented by a yield vs. year graph.</li>
        </ol>
        <br />
        Right side:<br />
        <ol>
          <li>Accordion headers: each bar displays your overall rank and score in each area (sustainability, economy, energy, environment).</li>
          <li>Accordion content: maximize or minimize the bars to see a detailed history of your farm's sustainability, economy, energy and environment scores.</li>
          <li>Bug report: click this inconspicuous square button to report bugs in the game and other feedback.</li>
          <li>Log: not functional as of 6/3/13.</li>
        </ol>
        <br />
        <br />
        <h3 id="toc8"><u>Turn Procedure</u></h3>
        <br />
        Note: The game is round-based. Each player must complete each step of the round (planting, management, harvesting) before the game moves forward and players get feedback. However, if required, the moderator can manually move the game to the next stage without all players being ready.<br />
        <ol>
          <li><strong>Planting -</strong> Click the planting icon at the bottom left-hand corner of each field. Then click on one of the 3 crop options (perennial grass, corn, cover crop) to plant. When you are done planting, click the &ldquo;Done Planting&rdquo; box at the top left of your window.</li>
          <li><strong>Management -</strong> (Optional) Players now have the option to choose additional management options to customize their strategies. Management strategies can reflect the use of additional fertilizers and tillage practices. By default these are both off, but clicking on the icons will remove the no symbol and enact the practice.</li>
          <li><strong>Harvesting -</strong> Once everyone has finished planting and managing crops (optional), you are ready to harvest and see your crops and see your scores. Click the &ldquo;Harvest&rdquo; icon to show that you are ready to move to this stage. When everyone has clicked this icon, you will get your yearly scores and updated overall scores.</li>
          <li><strong>Round Wrap-up -</strong> Following the harvest, a round wrap up window appears with a summary of the impact of the previous turn's decisions. This window will reflect the change in the player's short term performance by showing the current year's score in each of the four categories, the score from the previous year, and an up or down arrow indicating the direction of change from the previous year. In addition, the rank of the player's long-term average score in each category is also shown.</li>
        </ol>
        <a href="#top" title=""><p align="right">Back to Top</p></a>
        <h1 id="toc9"><a name="scoring">Scoring</a></h1>
    <hr style="color:#304C6C;border-color:#304C6C;"/>
        Their are four scores by which player performance can be assessed: environmental impact, energy production, economic performance, and overall sustainability. These scores are all normalized to reflect values between 0 and 100%, with higher scores reflecting better performance. Players are ranked by score in different categories, depending on what the predefined game objective is. Ranks are determined by comparing each players score in the different categories <strong>over the duration of gameplay</strong>.<br />
        <br />
        <h3 id="toc10"><u>Environmental impact</u></h3>
        Currently the environmental score is a composite of the amount of soil carbon present on a farm combined with the farm's contribution to phosphorus runoff. Currently these two measures are equally weighted and used to calculate an overall environmental score which falls between 0 (poor) to 1 (optimal).<br />
        <br />
    <ul>
          <li><strong>Soil Carbon -</strong> Based on data extracted from the SSURGO database (dataset initially used for the construction of the DST), the maximum concentration of soil carbon on arable lands in Dane County (and generally applicable to the midwest) is 190 Mg/ha. In order to calculate the player's score, we use the mean carbon amount across all their fields (measured in Mg/ha) and divide that by the maximum achievable score of 190 MG/ha. This provides a value (c_score) that describe the proportion of maximum carbon storage utilized on the player's farm.</li>
          <li><strong>Phosphorus Runoff -</strong> The phosphorus score (p_score) is calculated as the proportion of the maximum possible phosphorus runoff produced by a farm. The landscape-level phosphorus model produces a measure of landscape-level phosphorus loading between 0.02239 and 0.2239 mg/L of phosphorus in the surface water. While this approximates a landscape-wide level of concentration, we can use the same model at the individual farm scale to provide a unitless score reflecting the farm's contribution. In this case we substitute the proportion of the total landscape planted in corn (p_corn) with the proportion of the player's fields which are planted in corn, producing a p_local value. This value is then normalized using:<br/>
          <style type="text/css">
			p {
				margin-left: 50px;
			}
		  </style>
          <p>
          <math xmlns="http://www.w3.org/1998/Math/MathML">
        	<mrow>
            	<msub>
            		<mi>p</mi>
                	<mi>score</mi>
                </msub>
            </mrow>
            <mo>=</mo> 
            <mrow>
            	<mn>1</mn>
            	<mo>-</mo> 
            	<mfrac>
                	<mrow>
                    	<msub>
            				<mi>p</mi>
                			<mi>local</mi>
                		</msub>
                        <mo>-</mo>
                        <mn>0.0363</mn>
        			</mrow>
                    <mn>0.1876</mn>
                 </mfrac>
             </mrow>    
           </math>
           <p>
        </ul>
    <strong>Note:</strong> this score is inverted to match the theme found in other scores where 1 generally reflects a desired outcome and zero undesirable.<br />
        <br />
        <br />
        <h3 id="toc11"><u>Economic score</u></h3>
        This score relates how well an individual player is doing relative to the player with the greatest amount of capital.<br />
        Economic Score = Player Capital / Capital of Player with the most Capital<br />
        <br />
        <br />
        <h3 id="toc12"><u>Energy Score</u></h3>
        The energy score is determined by calculating the proportion of the maximum possible energy production achieved by the player.<br />
        <ul>
          <li>based on the maximum soil carbon content of 190 Mg/ha and a 10% increase from fertilizer, the maximum biomass yield of corn is 16.7619 Mg/Ha</li>
          <li>50% of the corn biomass is considered kernel, and 50% stover
            <ul>
              <li>energy contribution from the kernel is calculated at 18800 MJ/kg from kernels, producing 157561.9 MJ/ha at maximum production</li>
              <li>we assume that 50% of the stover is left on site, and 50% (or 25% of the total biomass) goes to energy production, and produces 17700 MJ/kg, which equates to 74171.4 MJ/ha at maximum production</li>
              <li>summed together we have a maximum energy production (Emax) of 226088 MJ/ha</li>
              <li>note: 100% of grass biomass is used for energy production, but reaches a maximum of 226313 MJ/ha</li>
              <li>Energy score can therefore be calculated as: (energy production per ha of player's farm) / Emax</li>
            </ul>
          </li>
        </ul>
        <a href="#top" title=""><p align="right">Back to Top</p></a>
        <h1 id="toc13"><a name="tradeoffs"></a>Trade-Offs</h1>
    <hr style="color:#304C6C;border-color:#304C6C;"/>
        The game is based on making decisions about tradeoffs between economic, energy production, and environmental benefits. These tradeoffs and their associated severity are summarized in the table below. The number represents the magnitude that the player choice (either crop choice or management options) will have on the corresponding elements of individual fields (yield, soil health, and water quality).<br />
        <br />
        <table>
          <tbody>
            <tr>
              <th>Player Decision Implications<br /></th>
              <th><br /></th>
              <th><br /></th>
              <th><br /></th>
              <th><br /></th>
            </tr>
            <tr>
              <td><br /></td>
              <td><br /></td>
              <td><strong>Yield</strong><br /></td>
              <td><strong>Soil Health</strong><br /></td>
              <td><strong>Water Quality</strong><br /></td>
            </tr>
            <tr>
              <td><em>Crop Choices</em><br /></td>
              <td><br /></td>
              <td><br /></td>
              <td><br /></td>
              <td><br /></td>
            </tr>
            <tr>
              <td><br /></td>
              <td>Corn<br /></td>
              <td>3<br /></td>
              <td>-2<br /></td>
              <td>-2<br /></td>
            </tr>
            <tr>
              <td><br /></td>
              <td>Cover Crop<br /></td>
              <td>1<br /></td>
              <td>3<br /></td>
              <td>2<br /></td>
            </tr>
            <tr>
              <td><br /></td>
              <td>Switchgrass<br /></td>
              <td>2<br /></td>
              <td>2<br /></td>
              <td>2<br /></td>
            </tr>
            <tr>
              <td><em>Management Options</em><br /></td>
              <td><br /></td>
              <td><br /></td>
              <td><br /></td>
              <td><br /></td>
            </tr>
            <tr>
              <td><br /></td>
              <td>Increased Fertilizer<br /></td>
              <td>1<br /></td>
              <td>-2<br /></td>
              <td>0<br /></td>
            </tr>
            <tr>
              <td><br /></td>
              <td>No-Till<br /></td>
              <td>0<br /></td>
              <td>1<br /></td>
              <td>0<br /></td>
            </tr>
          </tbody>
        </table>
        <br />
        <a href="#top" title=""><p align="right">Back to Top</p></a>
        <h1 id="toc14"><a name="models"></a>Underlying Models</h1>
    <hr style="color:#304C6C;border-color:#304C6C;"/>
        <h3 id="toc15"></h3>
        <h3 id="toc16"><u><strong>Soil Organic Carbon</strong></u></h3>
	The amount of carbon in the soil (termed soil organic carbon, or SOC) is the most basic underlying currency that we currently using to incorporate higher order interactions between the many individual sub-models that determine game dynamics. Modeling the change in soil carbon from year to year is calculated using a function described in <a href="http://glbrc.wikispaces.com/file/view/Ogle%20et%20al%202003.pdf/403097158/Ogle%20et%20al%202003.pdf" onclick="ws.common.trackFileLink('/file/view/Ogle%20et%20al%202003.pdf/403097158/Ogle%20et%20al%202003.pdf');">Ogle et al. (2003)</a>, which uses crop choice and tillage decisions to determine the change in SOC from one year to the next.<br />
	  <br />
	  The soil organic carbon at time <em>t</em> is calculated using the following formula, where each of the cropping and tillage options are binary variables:<br />
	  <style type="text/css">
			p {
				margin-left: 50px;
			}
	  </style>
      <p>
	  <math xmlns="http://www.w3.org/1998/Math/MathML">
	    <msub>
	      <mi>SOC</mi>
	      <mi>t</mi>
        </msub>
	    <mo>=</mo>
	    <msub>
	      <mi>SOC</mi>
	      <mrow>
	        <mi>t</mi>
	        <mo>-</mo>
	        <mn>1</mn>
          </mrow>
        </msub>
	    <mo>&#8901 
	      <!-- multiply -->
        </mo>
	    <mn>0.8</mn>
	    <mo>(</mo>
	    <mi>Corn</mi>
	    <mo>)</mo>
	    <mo>&#8901 
	      <!-- multiply -->
        </mo>
	    <mn>1.17</mn>
	    <mo>(</mo>
	    <mi>Grass</mi>
	    <mo>)</mo>
	    <mo>&#8901 
	      <!-- multiply -->
        </mo>
	    <mn>1.04</mn>
	    <mo>(</mo>
	    <mi>Alfalfa</mi>
	    <mo>)</mo>
	    <mo>&#8901 
	      <!-- multiply -->
        </mo>
	    <mn>1.1</mn>
	    <mo>(</mo>
	    <mi>No-Till</mi>
	    <mo>)</mo>
    </math>
    </p>
	<br/>
	  This equation is effectively unit-less, as it only describes the proportional change in SOC, but for the purpose of this project SOC is being measured in terms of Mg/ha.<br />
	  <br />
	  Sigmoidal response of SOC function to keep it within bounds of min/max:<br />
	  <br />
	  1) calculate base rate of change:<br />
	  <style type="text/css">
			p {
				margin-left: 50px;
			}
	  </style>
      <p>
	  <math xmlns="http://www.w3.org/1998/Math/MathML">
	    <mi>r</mi>
	    <mo>=</mo>
	    <mn>1</mn>
        <mo>+</mo>
        <mn>0.2</mn>
        <mo>(</mo>
        <mi>Corn</mi>
        <mo>)</mo>
        <mo>+</mo>
        <mn>0.17</mn>
        <mo>(</mo>
        <mi>Grass</mi>
        <mo>)</mo>
        <mo>+</mo>
        <mn>0.04</mn>
        <mo>(</mo>
        <mi>Alfalfa</mi>
        <mo>)</mo>
        <mo>+</mo>
        <mn>0.1</mn>
        <mo>(</mo>
        <mi>No-Till</mi>
        <mo>)</mo>
        <mo>-</mo>
        <mn>0.2</mn>
        <mo>(</mo>
        <mi>High-Fert</mi>
        <mo>)</mo>
    </math></p>
	  2) use base rate to calculate amount of change in SOC:<br />
	  <style type="text/css">
			p {
				margin-left: 50px;
			}
	  </style>
      <p>
	  <math xmlns="http://www.w3.org/1998/Math/MathML">
	    <mi>&#948 <!-- delta --></mi>
	    <mo>=</mo>
        <mfrac>
        	<mrow>
            	<mo>(</mo>
                <mi>r</mi>
                <mo>-</mo>
                <mn>1</mn>
            	<mo>)</mo>
            	<mo>(</mo>
                <mn>1</mn>
                <mo>-</mo>
                <mfrac>
                	<msub>
                 		<mi>SOC</mi>
                        <mrow>
                        	<mi>t</mi>
                            <mo>-</mo>
                            <mn>1</mn>
                        </mrow>
                    </msub>
                	<msub>
                 		<mi>SOC</mi>
                        <mi>max</mi>
                    </msub>
                </mfrac>
                <mo>)</mo>
            </mrow>
            <mi>timestep</mi>
        </mfrac>
        <mo>&#8901 
	    <!-- multiply -->
        </mo>
        <msub>
			<mi>SOC</mi>
            <mrow>
               <mi>t</mi>
               <mo>-</mo>
               <mn>1</mn>
            </mrow>
        </msub>
    </math>
    </p>
	  3) apply change to initial amount:<br />
	  <style type="text/css">
			p {
				margin-left: 50px;
			}
	  </style>
      <p>
	<math xmlns="http://www.w3.org/1998/Math/MathML">
		<msub>
			<mi>SOC</mi>
            <mi>t</mi>
        </msub>
        <mo>=</mo>
        <msub>
			<mi>SOC</mi>
            <mrow>
               <mi>t</mi>
               <mo>-</mo>
               <mn>1</mn>
            </mrow>
        </msub>
        <mo>+</mo>
        <mi>&#948 <!-- delta --></mi>
    </math></p>
	  </font></p>
	<font face="Lucida Sans Unicode, Lucida Grande, sans-serif">
        <h3 id="toc17"><u><strong>Yield</strong></u></h3>
        The yield of the different crops in this system is modeled largely as a function of existing SOC. A relationship between crop yield and SOC was developed using data for Dane County (WI) obtained from the SSURGO database. The <a href="http://glbrc.wikispaces.com/file/view/yield_carbon_model.r/408855898/yield_carbon_model.r" onclick="ws.common.trackFileLink('/file/view/yield_carbon_model.r/408855898/yield_carbon_model.r');">analysis</a> and associated <a href="http://glbrc.wikispaces.com/file/view/XYZData.csv/408855966/XYZData.csv" onclick="ws.common.trackFileLink('/file/view/XYZData.csv/408855966/XYZData.csv');">data file</a> are both available; the end result was the equation:<br />
        <br />
        <br />
        <br />
        The total amount of above-ground biomass production can be visualized in the following graph:<br />
        <table>
          <tbody>
            <tr>
              <td><img src="http://glbrc.wikispaces.com/file/view/yield_response.png/406937720/yield_response.png" alt="yield_response.png" title="yield_response.png" /></td>
            </tr>
            <tr>
              <td>Base response curve describing how soil carbon levels influence the total aboveground biomass yield for different crops</td>
            </tr>
          </tbody>
        </table>
        <br />
        Inclusion of additional terms in the model describes the effect of different management practices on yield; currently looking to obtain quantitative information on fertilizer application, tillage practices, and application of pesticides. Also need to include mechanism to incorporate increasing of yield of perennial crops over multiple years.<br />
        <style type="text/css">
			p {
				margin-left: 50px;
			}
	  </style>
      <p>
	  <math xmlns="http://www.w3.org/1998/Math/MathML">
	    <msub>
        	<mi>Yield</mi>
        	<mi>crop</mi>
        </msub>
        <mo>=</mo>
        <msub>
        	<mi>&#946 <!-- beta --></mi>
        	<mn>0</mn>
        </msub>
        <mo>+</mo>
        <msub>
        	<mi>&#946 <!-- beta --></mi>
        	<mn>1</mn>
        </msub>
        <mi>log</mi>
        <mi>SOC</mi>
        <mo>&#8901 <!-- multiply --></mo>
        <msub>
        	<mi>&#946 <!-- beta --></mi>
        	<mn>2</mn>
        </msub>
        <mi>Fert</mi>
    </math></p>
        <table>
          <tbody>
            <tr>
              <th height="38">Crop<br /></th>
              <th>&#946 <!-- beta --><sub>0</sub><br /></th>
              <th>&#946 <!-- beta --><sub>1</sub><br /></th>
              <th>&#946 <!-- beta --><sub>2</sub><br /></th>
            </tr>
            <tr>
              <th>Corn<br /></th>
              <td>0.1164<br /></td>
              <td>2.8849<br /></td>
              <td>1.1<br /></td>
            </tr>
            <tr>
              <th>Grass<br /></th>
              <td>-0.9556<br /></td>
              <td>2.4093<br /></td>
              <td>1.1<br /></td>
            </tr>
            <tr>
              <th>Alfalfa<br /></th>
              <td>-0.08196<br /></td>
              <td>2.40141<br /></td>
              <td>...<br /></td>
            </tr>
          </tbody>
        </table>
        <br />
        NOTE: Assumptions (guesses, really) have been made about the effects of tillage and fertilizer; the currently described implementation has no-till practices reducing the SOC loss by 10%, while having no effect on yield. High fertilization produces a 20% increase in SOC loss while producing a 10% increase in yield.<br />
        <br />
        <br />
        <h3 id="toc18"><u><strong>Phosphorous Levels</strong></u></h3>
        Phosphorus concentrations (mg/L) can be calculated by looking at the proportion of the landscape which is planted in corn, and calculated using the equation:<br />
        <style type="text/css">
			p {
				margin-left: 50px;
			}
	  </style>
      <p>
	  <math xmlns="http://www.w3.org/1998/Math/MathML">
	    <mi>P</mi>
        <mo>=</mo>
        <msup>
        	<mn>10</mn>
            <mrow>
            	<mo>(</mo>
            	<mn>0.79</mn>
                <msub>
                	<mi>P</mi>
                    <mi>corn</mi>
                </msub>
                <mo>)</mo>
                <mo>(</mo>
                <mn>1</mn>
                <mo>-</mo>
                <mn>0.2</mn>
                <msub>
                	<mi>P</mi>
                    <mi>no-till</mi>
                </msub>
                <mo>)</mo>
                <mo>-</mo>
                <mn>1.44</mn>
            </mrow>
        </msup>
    </math></p>
        where p_no_till = the proportion of fields without tillage.<br />
        <br />
        <br />
        <h3 id="toc19"><u><strong>Economic Model</strong></u></h3>
        Players' profits and Economy rank are determined by three factors: prices, yields, and costs. Each year's income is the sum of the per field profits:<br />
        <style type="text/css">
			p {
				margin-left: 50px;
			}
	  </style>
      <p>
	  <math xmlns="http://www.w3.org/1998/Math/MathML">
	    <msub>
            <mi>&#960 <!-- pi --></mi>
        	<mi>field</mi>
        </msub>
        <mo>=</mo>
        <msub>
            <mi>P</mi>
        	<mi>crop</mi>
        </msub>
        <msub>
            <mi>Y</mi>
        	<mi>field</mi>
        </msub>
        <mo>-</mo>
        <msub>
            <mi>C</mi>
        	<mi>field</mi>
        </msub>
    </math></p>
        <strong>Yield</strong><br />
        <br />
        Yield is a part of the agronomic model, details about which can be found earlier in this section.<br />
        <br />
        <strong>Costs</strong><br />
        <br />
        Per field costs are computed according to the following model:<br />
<table>
          <tbody>
            <tr>
              <th width="142">Corn<br /></th>
              <th width="51"><br /></th>
            </tr>
            <tr>
              <td>First Year<br /></td>
              <td>873.10<br /></td>
            </tr>
            <tr>
              <td>Fertilizer (high)<br /></td>
              <td>255.93<br /></td>
            </tr>
            <tr>
              <td>Fertilizer (low)<br /></td>
              <td>127.96<br /></td>
            </tr>
            <tr>
              <td>Till (on)<br /></td>
              <td>44.48<br /></td>
            </tr>
          </tbody>
        </table>
        <br />
        <table>
          <tbody>
            <tr>
              <th>Switch Grass<br /></th>
              <th><br /></th>
            </tr>
            <tr>
              <td>First Year<br /></td>
              <td>605.69<br /></td>
            </tr>
            <tr>
              <td>Subsequent Years<br /></td>
              <td>377.84<br /></td>
            </tr>
            <tr>
              <td>Fertilizer (high)<br /></td>
              <td>71.66<br /></td>
            </tr>
            <tr>
              <td>Fertilizer (low)<br /></td>
              <td>0.00<br /></td>
            </tr>
          </tbody>
        </table>
        <br />
        These were derived from research done at ISU and USDA:<br />
        <br />
        <a href="http://www.extension.iastate.edu/publications/ag200.pdf" rel="nofollow">http://www.extension.iastate.edu/publications/ag200.pdf</a><br />
        <a href="http://www.extension.iastate.edu/agdm/crops/pdf/a1-20.pdf" rel="nofollow">http://www.extension.iastate.edu/agdm/crops/pdf/a1-20.pdf</a><br />
        <a href="http://cropwatch.unl.edu/c/document_library/get_file?uuid=96b554d7-3154-4d6f-8d8a-c2732a232d55&amp;groupId=486254&amp;.pdf" rel="nofollow">http://cropwatch.unl.edu/c/document_library/get_file?uuid=96b554d7-3154-4d6f-8d8a-c2732a232d55&amp;groupId=486254&amp;.pdf</a><br />
        <br />
        <strong>Prices</strong><br />
        <br />
        By default prices are fixed at $150 per ton for switchgrass and $250 for corn and do not change over the course of the game. The dynamic economy can be turned on by selecting the &quot;Market-driven prices&quot; option on the moderator screen, which will allow prices to change from year to year.<br />
        <br />
        Prices are computed according to a simple model designed to represent the basic dynamics of supply and demand and to add an additional dimension for players to compete on. The market demands a certain amount of each crop, currently fixed at 60% of fields for corn and 40% for grass. This is matched with the number of tons of each crop supplied by the farmers, and prices are adjusted according the the discrepancy. The adjustment is dampened by a stickiness factor, currently fixed and 0.3, so prices will never change by more than 30% of their previous value in one year.<br />
        <br />
        In the case of undersupply:<br />
        <style type="text/css">
			p {
				margin-left: 50px;
			}
	  </style>
      <p>
	  <math xmlns="http://www.w3.org/1998/Math/MathML">
	    <msub>
            <mi>P</mi>
        	<mrow>
            	<mi>t</mi>
                <mo>+</mo>
                <mn>1</mn>
            </mrow>
        </msub>
        <mo>=</mo>
        <msub>
            <mi>P</mi>
        	<mi>t</mi>
        </msub>
        <mo>+</mo>
        <mi>e</mi>
        <msub>
            <mi>P</mi>
        	<mi>t</mi>
        </msub>
        <mo>(</mo>
        <mfrac>
            <msub>
           		<mi>q</mi>
        		<mi>demand</mi>
        	</msub>
        	<msub>
            	<mi>q</mi>
        		<mi>supply</mi>
        	</msub>
        </mfrac>
        <mo>)</mo>
    </math></p>
        In the case of oversupply:<br />
        <style type="text/css">
			p {
				margin-left: 50px;
			}
	  </style>
      <p>
	  <math xmlns="http://www.w3.org/1998/Math/MathML">
	    <msub>
            <mi>P</mi>
        	<mrow>
            	<mi>t</mi>
                <mo>+</mo>
                <mn>1</mn>
            </mrow>
        </msub>
        <mo>=</mo>
        <msub>
            <mi>P</mi>
        	<mi>t</mi>
        </msub>
        <mo>-</mo>
        <mi>e</mi>
        <msub>
            <mi>P</mi>
        	<mi>t</mi>
        </msub>
        <mo>(</mo>
        <mfrac>
            <msub>
           		<mi>q</mi>
        		<mi>supply</mi>
        	</msub>
        	<msub>
            	<mi>q</mi>
        		<mi>demand</mi>
        	</msub>
        </mfrac>
        <mo>)</mo>
    </math></p>
        <strong>Scoring</strong><br />
        <br />
        A player's economic score is based on their cumulative capital over the course of the entire game. The raw score, on a scale of 0 to 100, is simply the player's capital as a percent of the highest scoring player's capital, and ranks are determined by comparing players' economic scores.<br />
        <br />
        <a href="#top" title=""><p align="right">Back to Top</p></a>
</font>
	</p>
</html>
</head>
